@model Evacuation.Web.Models.ProjectModel
@{
    ViewBag.Title = "Project";
}
@Html.Partial("~/Views/Home/Partial.cshtml")

@using (Html.BeginForm("DetailsP", "LogIn", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <body class="page-body">
        <div class="row">
            @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image) + "\" />")
        </div>
        <div class="profile-env">            
                <section class="profile-info-tabs">                    
                        <div>
                            <ul class="user-details">
                                <li>
                                    <a href="#">
                                        <h4>
                                            <i class="glyphicon glyphicon-file"></i>
                                            @Html.DisplayNameFor(model => model.Name)
                                            @Model.Name
                                        </h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h4>
                                            <i class="glyphicon glyphicon-time"></i>
                                            @Html.DisplayNameFor(model => model.DataCreation)
                                            @Model.DataCreation
                                        </h4>                                        
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h4>
                                            <i class="glyphicon glyphicon-ok-sign"></i>
                                            @Html.DisplayNameFor(model => model.DataStrart)
                                            @Model.DataStrart
                                        </h4>                                        
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h4>
                                            <i class="glyphicon glyphicon-remove-sign"></i>
                                            @Html.DisplayNameFor(model => model.DataEnd)
                                            @Model.DataEnd
                                        </h4>                                       
                                    </a>
                                </li>
                            </ul>

                            <!-- tabs for the profile links -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#change" data-toggle="tab"><h4><i class="glyphicon glyphicon-th-large"></i></h4></a></li>
                                <li><a href="#edit" data-toggle="tab"><h4>Edit</h4></a></li>
                                <li><a href="#delete" data-toggle="tab"><h4>Delete</h4></a></li>
                            </ul>
                        </div>
                   
                </section>
                <div class="tab-content">
                    <div class="tab-pane active" id="change">                        
                        
                            <a type="button" href='~/LogIn/Projects' class="btn btn-secondary-outline"><h4>Back to projects</h4></a>
                       
                    </div>

                    <div class="tab-pane" id="edit">  
                        @using (Html.BeginForm("DetailsP", "LogIn", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>ProjectModel</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group" hidden>
                                    @Html.LabelFor(model => model.ProjectID, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ProjectID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group" hidden>
                                    @Html.LabelFor(model => model.DataCreation, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DataCreation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DataCreation, "", new { @class = "text-danger" })
                                    </div>
                                </div>   
                                <div class="form-group" hidden>
                                  @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                                </div>                             
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DataStrart, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DataStrart, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DataStrart, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DataEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DataEnd, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DataEnd, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div style="position:relative;">
                                            <a class='btn btn-primary' href='javascript:;'>
                                                Choose File...
                                                <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="uploadImage" size="40" onchange='$("#upload-file-info").html($(this).val());'>
                                            </a>
                                            &nbsp;
                                            <span class='label label-default' id="upload-file-info"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>                        
                        }
                    </div>
                               
                    <div class="tab-pane" id="delete">
                        @using (Html.BeginForm("DetailsPr", "LogIn", new { id = Model.ProjectID }))
                        {
                            @Html.AntiForgeryToken()

                        <h3>Are you sure you want to delete this project?</h3>
                        <div>
                            <h4>ProjectModel</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DataCreation)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DataCreation)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.UserID)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.UserID)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DataStrart)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DataStrart)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DataEnd)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DataEnd)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Image)
                                </dt>
                                <dd>
                                    @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image) + "\" />")
                                </dd>
                            </dl>
                            

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" /> 
                                </div>

                        </div>
                        }
                    </div>                      
                </div>
         </div>
    </body>      
}
