<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Html.Partial("~/Views/Home/Partial.cshtml")
</head>
@{ 
    Session["Admin"] = "admin";
}
<body class="page-body">
    <div class="page-container horizontal-menu">
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <!-- logo -->
                <div class="navbar-brand">
                    <a href="~/Home/Index">
                        <img src="~/Images/logo-horizontal.png" alt="" />
                    </a>
                </div>
                <!-- main menu -->
                <ul class="navbar-nav">
                    <li>
                        <a href="~/User/Users">
                            <i class="fa fa-user"></i>
                            <span>Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Project/Projects">
                            <i class="fa fa-folder-open"></i>
                            <span>Projects</span>
                        </a>
                    </li>
                    @*<li>
                            <a href="~/Account/Login">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>Login</span>
                            </a>
                        </li>*@
                    <li id="search" class="root-level">
                        <!-- add class "search-input-collapsed" to auto collapse search input -->
                        <form method="get" action="">
                            <input type="text" name="q" class="search-input" placeholder="Search something..." />
                            <button type="submit">
                                <i class="entypo-search"></i>
                            </button>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-right pull-right">
                    <li class="sep"></li>
                    <li>
                        <a href="~/Home/Index">
                            Log out <i class="glyphicon glyphicon-log-out right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="main-content">
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/myscript")*@
    @RenderSection("scripts", required: false)
</body>
</html>

